.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
.pointer{
  cursor: pointer ;
  color: white !important;
}
.pointer:hover{
  color: red !important;
}

.bg-dark-theme{
  background-color: #102439;
}
.bg-blue-theme{
  background-color: #234e7b;
}
.header-icon{
  font-size: 24px;
}
.intro{
  background:url("../src/assets/images/introBg.jpg"),linear-gradient(to right, rgba(68, 67, 67, 0.5),rgb(54, 53, 53)) ;
  background-blend-mode: overlay;
  min-height: 60vh;
  background-size: cover;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: zoomOut 3s ease-in-out;
  text-align: center;
  font-weight: 600;
}
@keyframes zoomOut {
  from{
    background-size: 120%;
  }
  to{
    background-size: 100%;
  }
}
.border-theme{
  border-bottom:  1px solid white;
}

.dot{
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: aliceblue;
}
.card-top{
  border: 8px solid white;
 
}
.card-img {
  overflow: hidden;
  
}
.card-img > img{
  transition:  .1s ease-out;
  transform-origin: center top;
}
.card-img > img:hover{
transform: scale(1.6);
}
.cat-img{
  object-fit: cover;
  border: 0;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background: linear-gradient(to right, rgba(68, 67, 67, 0.308),rgba(54, 53, 53, 0.432));
  border: 0;
}
